{{yield}}

<div class="imgCont">
	<img src="https://image.tmdb.org/t/p/w396{{imgUrl}}?api_key=e29347d54739a5cb876eb792701d0e08" data-windowSize="{{setWindowSize}}">
</div>
<div class="filmText">
	<h1>{{film.title}}</h1>
	<p><{{film.overview}} <b> ({{year}})</b></p>
</div>
